.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

body {
  padding-top: 70px;
  background-color: #f9f9f9;
}

.navbar {
  height: 65px;
  transition: box-shadow 0.3s ease-in-out;
  /* Adiciona a transição de sombra */
  box-shadow: none;
  /* Remova a sombra definida aqui */
}

.navbar-brand {
  margin-left: 7%;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 7%;
}

.custom-container {
  margin: 0 auto;
  max-width: 80%;
}

.site-margin {
  margin-left: 13%;
  margin-right: 13%;
}

.nav-link {
  color: #282c34;
}

.nav-link:hover {
  color: #48A4FD;
}

.color-blue {
  color: #48A4FD;
}

.color-grey {
  color: #475569;
}

.color-white {
  color: #ffffff;
}

.background-grey {
  background-color: #242a33;
}

.round-img {
  border-radius: 5%;
}

.projects-main {
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  gap: 8rem;
  padding: 2rem;
  width: 75%;
  background-color: #ffffff;
}

.project-img {
  border-radius: 1.7rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  height: auto;
  overflow: hidden;
}

.box-effect {
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  font-weight: 600t;
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.contact-container {
  width: 45%;
  height: 400px;
}

::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #48A4FD;
  border-radius: 5px;
}

::-webkit-scrollbar-track {
  background-color: #c6c6c6;
}

.contact-bmargin {
  margin-bottom: 20px;
}

.contact-bmargin-2 {
  margin-bottom: 60px;
}

.skills-grid {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.skills-grid a {
  display: inline-block;
  transition: all 0.2s ease-in-out;
}

.skills-grid a:hover {
  transform: scale(1.1) translateY(-5px);
}

.box-effect {
  display: inline-block;
  transition: transform 0.2s ease-in-out, box-shadow 0.3s ease-in-out;
}

.box-effect:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 7px 0px rgba(255, 255, 255, 0.15);
}